.ui-w-40{
    width: 40px !important;
    height: auto;
}


.fa-ellipsis-h{
    float: left;
}

.wd-border-post{
    border-color: red;
}

.wd-title-post{
    color: white;
}

.icons {
    padding-top: 12px;
}

.icons {
    max-width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon-text {
    padding: 12px;
}

.wd-image{
    border-radius: 25px;
}

.wd-post .list-group-item{
    background-color: black;
    border: none;
}
.list-group{
    background-color: black;
}
.wd-round-corner{
    border-radius: 25px;
}
